{% macro memeCardRow(memes) %}

<link rel="stylesheet" href="{{url_for('static', filename='memeCardRow.css')}}">

<!-- TODO: replace placeholder images with user's memes from database -->
<div class="row">
    <div class="col-sm-4">
        <div class="card mb-4 shadow-sm border">
            <img class="card-img-top" src="{{ url_for('.static', filename='memes/' + memes[0].name) }}" alt="Card image cap">
            <div class="card-body">
                <p class="card-text"></p>
                <div class="buttons">
                    <a href="#" class="btn btn-primary">Like</a>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>
    {% if memes|length > 1 %}
    <div class="col-sm-4">
        <div class="card mb-4 shadow-sm border">
            <img class="card-img-top" src="{{ url_for('.static', filename='memes/' + memes[1].name) }}" alt="Card image cap">
            <div class="card-body">
                <p class="card-text"></p>
                <div class="buttons">
                    <a href="#" class="btn btn-primary">Like</a>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}{% if memes|length > 2 %}
    <div class="col-sm-4">
        <div class="card mb-4 shadow-sm border">
            <img class="card-img-top" src="{{ url_for('.static', filename='memes/' + memes[2].name) }}" alt="Card image cap">
            <div class="card-body">
                <p class="card-text"></p>
                <div class="buttons">
                    <a href="#" class="btn btn-primary">Like</a>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endmacro %}