{% macro memeCardRow() %}

<link rel="stylesheet" href="{{url_for('static', filename='memeCardRow.css')}}">

<!-- TODO: replace placeholder images with user's memes from database -->
<div class="row">
    <div class="col-sm-4">
        <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="./static/memes_img/placeholder.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Meme Title</p>
                <div class="buttons">
                    <a href="#" class="btn btn-primary">Like</a>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="./static/memes_img/placeholder.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Meme Title</p>
                <div class="buttons">
                    <a href="#" class="btn btn-primary">Like</a>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="./static/memes_img/placeholder.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Meme Title</p>
                <div class="buttons">
                    <a href="#" class="btn btn-primary">Like</a>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endmacro %}